.map-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.legend {
  position: absolute;
  bottom: 13px;
  right: 13px;
  background-color: #ffffff;
  padding: 13px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}


.legend-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}